@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body_background: white;
    --body_color: black;
    --link_color: aqua;
}

[set-theme="dark"] {
    --body_background: black;
    --body_color: white;
    --link_color: blue;
}

body {
    background-color: var(--body_background);
    color: var(--body_color);
}

a {
    color: var(--link_color);
}
